@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

.top-bar, .bottom-bar {
    height: 92px;
    width: 100%;
    font-weight: 400;
    position: fixed;
    z-index: 1;
    left: 0;
}

.top-bar {
    background-color: #CF2B2B;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site {
    font-family: 'Roboto';
}

.top-bar > h1, .content > div > h1 {
    font-family: 'Righteous';
}

.top-bar > h1 {
    font-size: 44px;
}

.top-bar > h2 {
    font-size: 18px;
}

.content {
    padding: 106px 19px 94px 19px;
    box-sizing: border-box; 
    background-color: #E5E5E5;
}

.content > div {
    height: 263px;
    margin: 14px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content > div > h1 {
    font-size: 26px;
    color: #333333;
}

.menu {
    width: 100%;
    display: flex;
    align-self: flex-start;
    overflow-x: scroll;
    gap: 16px;
}

.menu .selected {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.option {
    
    height: 216px;
    width: 172px;
    flex-shrink: 0;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    padding: 18px 14px 10px 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.option > img {
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.option > h1 {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.option > h2 {
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.option > div {
    height: 19px;
    width: 144px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon {
    display: none;
}

.selected ion-icon {
    font-size: 22px;
    display: block;
    color: #32B72F;
}

.bottom-bar {
    bottom: 0;
    background-color: #FFFFFF;
    padding: 15px 25px;
    box-sizing: border-box;
}

.bottom-bar .selected {
    background-color: #32B72F;
}

.bottom-bar > button {
    height: 61px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #CBCBCB;
}

.bottom-bar > button > span {
    width: 60%;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.checkout {
    display: none;
}

.resume {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
}

.resume-itens {
    width: 100%;
    margin: auto 19px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #FFFFFF;
    font-size: 22px;
    padding: 21px 25px 0px 25px;
}

.resume-itens > h1 {
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}

.resume-itens > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin: 13px 0px;
}

.resume-itens > div > h2 {
    width: 70%;
    text-align: left;
}

.resume-itens > div > h3 {
    width: 20%;
    text-align: right;
}

.resume-itens > .total {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.resume-itens button {
    margin: 0px;
    height: 52px;
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.resume-itens > a > button {
    background-color: #FFFFFF;
    color: #50D074;
    font-size: 22px;
}

.resume-itens > button {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 20px;
}

.resume-itens button > span {
    width: 70%;
    font-weight: 700;
    text-align: center;
}